# folders
lucidsonicdreams/__pycache__/
stylegan2/
stylegan2_tf/
*/.ipynb_checkpoints/
.ipynb_checkpoints/
clmr_magnatagatune_mlp/
clmr/
.env/

models/*
songs/*
songs_with_subs/*
outputs/*
build/*
dist/*
dream_venv/*
lucidsonicdreams.egg-info/*

# files
*.mp3
*.mp4
*.pkl
*.jpg
*.pt
*.zip
*.png
gen.py

