torch
librosa
numpy
moviepy
Pillow
tqdm
scipy
scikit-image
pygit2
gdown
mega.py
requests
pandas
SoundFile
librosa
freetype-py
pypng
pygame
opencv-python
# for clmr
simclr
torchaudio-augmentations
torchaudio
pytorch-lightning
soundfile
sklearn
matplotlib
